CampusBookClient/Connected Services/CampusBook_BookRequestService_/BookRequestService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CampusBookService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CampusBookService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BookRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="requestDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="requester" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookRequest" nillable="true" type="tns:BookRequest" />
</xs:schema>