CampusBookClient/Connected Services/CampusBook_PatronService/PatronService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8736/CampusBookService/PatronService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CampusBookService" />
  <xs:import schemaLocation="http://localhost:8736/CampusBookService/PatronService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetPatronByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatronByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CampusBookService" minOccurs="0" name="GetPatronByUsernameResult" nillable="true" type="q1:Patron" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignupPatron">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CampusBookService" minOccurs="0" name="pt" nillable="true" type="q2:Patron" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignupPatronResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CampusBookService" minOccurs="0" name="SignupPatronResult" nillable="true" type="q3:Patron" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidBranches">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidBranchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetValidBranchesResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginPatron">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginPatronResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CampusBookService" minOccurs="0" name="LoginPatronResult" nillable="true" type="q5:Patron" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutPatron">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutPatronResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogoutPatronResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>