CampusBookClient/Connected Services/CampusBook_BookRequestService/BookRequestService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="makeNewRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requester" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="makeNewRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requester" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="acceptRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requester" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="acceptRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="rejectRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requester" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rejectRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>